@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .project-card {
    @apply bg-darkBlue1 p-6 rounded-lg flex flex-col justify-around gap-3 hover:-translate-y-1.5 border-l-8 border-lightRed transition ease-in-out relative;
  }

  .todo-list {
    @apply transition-all duration-1000 ease-in-out max-h-0 group-hover:max-h-96 overflow-hidden;
  }
}

.card i {
  position: absolute;
  top: 20px;
  right: 10px;
}

#project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  min-height: 200px;
  cursor: pointer;
  position: relative;
}

.truncate-words {
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal; */
}

#checklistItems > li {
  cursor: pointer !important;
}

.line-through {
  text-decoration: line-through !important;
}
