@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .project-card {
    @apply bg-darkBlue1 p-6 rounded-lg flex flex-col justify-around gap-3 hover:-translate-y-1.5  border-lightRed transition ease-in-out relative;
  }

  .todo-list {
    @apply transition-all duration-1000 ease-in-out max-h-0 group-hover:max-h-96 overflow-hidden;
  }
}

.card i {
  position: absolute;
  top: 20px;
  right: 10px;
}

#project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.project-names {
  flex-wrap: wrap !important;
}

.project-button {
  transition: transform 0.3s ease-in-out; /* Define the property and duration */
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
}

.project-button:hover {
  transform: scale(1.1);
}

.active-button {
  background-color: #10161f; /* Change background color for active button */
  color: white; /* Change text color for active button */
  border: 2px solid #ffffff; /* Optional: Add a border for emphasis */
}

.card {
  min-height: 200px;
  cursor: pointer;
  position: relative;
}

.truncate-words {
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal; */
}

#checklistItems > li {
  cursor: pointer !important;
}

.line-through {
  text-decoration: line-through !important;
}

.project-card.border-l-8 {
  border-left-width: 8px !important;
}

li,
button {
  user-select: none;
}

#checklistItems > li {
  display: flex;
  justify-content: space-between;
}
